<% content_for :wrapper_class, "index_page" %>

<div class="container" id="home-logo-container">
  <div class="row">
    <div class="center">
      <%= image_tag "home-logo.png", alt: t('.earth_alt') %>
      <h2 class="tagline">
        <%= t '.byline' %>
      </h2>
      <div class="home-actions">
        <%= link_to t('.call_to_action'), root_url(subdomain: false, anchor: "get_started"), class: 'call-to-action nsf-btn nsf-primary' %>
        <%= t('.call_to_action_subtext').html_safe %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="why">
      <div class="horizontal-tabs-wrapper">
        <div class="horizontal-tabs-nav">
          <h4>Philosophy</h4>
          <a href="#" data-target="decentralization" class="active"><%= t '.decentralization' %></a>
          <a href="#" data-target="freedom"><%= t '.freedom' %></a>
          <a href="#" data-target="privacy"><%= t '.privacy' %></a>
        </div>
        <div class="horizontal-tabs-panels">
          <div id="decentralization" class="horizontal-tabs-panel active">
        
            <h4><%= t '.decentralization_title' %></h4>

            <div class="cf"></div>

            <div class="decentralization-left">
              <h5><%= t 'pages.about.this' %></h5>
              <%= image_tag "network-distributed.png" %>
              <p><%= t 'pages.about.this_ex' %></p>
            </div>
            <div class="decentralization-right">
              <h5><%= t 'pages.about.notthis' %></h5>
              <%= image_tag "network-centralized.png" %>
              <p><%= t 'pages.about.notthis_ex' %></p>
            </div>

            <div class="cf"></div>

            <p><%= t '.decentralization_about' %></p>

            <%= link_to t('buttons.find_more'), about_path, class: "nsf-btn nsf-secondary" %>

          </div>
          <div id="freedom" class="horizontal-tabs-panel">
            <p><%= t '.freedom_about' %></p>
          </div>
          <div id="privacy" class="horizontal-tabs-panel">
            <p><%= t '.privacy_about' %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="container">
  <div class="row top_spacing">
    <h1><%= t '.key_philosophies' %></h1>
  </div>
  <div class="row minor_top_spacing">
    <div class="span-one-third">
      <%= image_tag "decentralized-stamp.png", alt: t('.decentralized_alt') %>
    </div>
    <div class="span-one-third">
      <%= image_tag "freedom-stamp.png", alt: t('.freedom_alt') %>
    </div>
    <div class="span-one-third">
      <%= image_tag "keyhole-stamp.png", alt: t('.keyhole_alt') %>
    </div>
  </div>
  <div class="row minor_top_spacing">
    <div class="span-one-third">
      <h2><%= t '.decentralization' %></h2>
      <p><%= t '.decentralization_about' %></p>

      <p class="find_out_more">
        <%= link_to t('buttons.find_more'), about_path, class: "btn primary" %>
      </p>
    </div>
    <div class="span-one-third">
      <h2><%= t '.freedom' %></h2>
      <p><%= t '.freedom_about' %></p>

      <p class="find_out_more">
        <%= link_to t('buttons.find_more'), about_path(anchor: 'freedom'), class: "btn primary" %>
      </p>
    </div>
    <div class="span-one-third">
      <h2><%= t '.privacy' %></h2>
      <p><%= t '.privacy_about' %></p>

      <p class="find_out_more">
        <%= link_to t('buttons.find_more'), about_path(anchor: 'privacy'), class: "btn primary" %>
      </p>
    </div>
  </div>

  <div class="page-header top_spacing" id="get_started">
    <h1>
      <%= t '.get_started' %>
      <small><%= t '.get_started_sub' %></small>
    </h1>
  </div>

  <div class="row">
    <div class="span-one-third">
      <h2><%= t '.choose_pod' %></h2>
      <p>
        <%= t '.choose_pod_exp' %>
      </p>
      <p class="find_out_more">
        <a href="https://wiki.diasporafoundation.org/Choosing_a_pod" class="btn primary">
          <%= t 'buttons.find_more' %>
        </a>
      </p>
    </div>
    <div class="span-one-third">
      <h2><%= t '.sign_up' %></h2>
      <p>
        <%= t('.sign_up_ex', poduptime: link_to('Pod Uptime', 'http://podupti.me')).html_safe %>
      </p>
      <p class="find_out_more">
        <a href="http://podupti.me/" class="btn success">
          <%= t '.register' %>
        </a>
      </p>
    </div>
    <div class="span-one-third">
      <h2>
        <%= t '.join_convo' %>
      </h2>
      <p>
        <%= t('.join_convo_ex').html_safe %>
      </p>
      <p class="find_out_more">
        <a href="/getting_started/sign_up" class="btn primary">
          <%= t 'buttons.find_more' %>
        </a>
      </p>
    </div>
  </div>

  <div class="row top_spacing">
    <div class="span-one-third">
      <%= image_tag "aspects.png", alt: t('.aspects_alt') %>
    </div>
    <div class="span-one-third">
      <%= image_tag "features.png", alt: t('.features_alt') %>
    </div>
    <div class="span-one-third">
      <%= image_tag "question-stamp.png", alt: t('.ways_to_help_alt') %>
    </div>
  </div>
  <div class="row">
    <div class="span-one-third">
      <h2><%= t '.aspects' %></h2>
      <p>
        <%= t '.aspects_ex' %>
      </p>
      <p class="find_out_more">
        <a href="/about#aspects" class="btn primary">
          <%= t 'buttons.find_more' %>
        </a>
      </p>
    </div>
    <div class="span-one-third">
      <h2><%= t '.features' %></h2>
      <p>
        <%= t '.features_ex' %>
      </p>
      <p class="find_out_more">
        <a href="/about#features" class="btn primary">
          <%= t 'buttons.find_more' %>
        </a>
      </p>
    </div>
    <div class="span-one-third">
      <h2><%= t '.help' %></h2>
      <p><%= t '.help_ex' %></p>
      <p class="find_out_more">
        <a href="/get_involved#ways_to_help" class="btn primary">
          <%= t 'buttons.find_more' %>
        </a>
      </p>
    </div>
  </div>

  <div class="row top_spacing">
    <div class="span4">
      <%= image_tag "services.png", alt: t('.services_alt') %>
    </div>
    <div class="span12">
      <h1><%= t '.socialint' %></h1>
      <p><%= t '.socialint_ex' %></p>
    </div>
  </div>
</div>
-->