<!DOCTYPE html>
<html>
<head>
  <title><%= page_title yield :page_title %></title>

  <meta charset="utf-8">
  <%= favicon_link_tag "favicon.png" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= auto_discovery_link_tag :atom, news_feed_url(subdomain: 'blog'), {:title => t('newsfeed')} %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
  <div id="wrap">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to root_url(subdomain: false), class: 'brand' do %>
            <%= image_tag 'topbar-logo.png', alt: t('title'), title: t('title'), id: 'header-logo' %>
          <% end %>

          <div id="mainnav" class="pull-right">
            <ul class="nav">
              <!-- <li><%= link_to t('pages.about.menu_title'), about_url(subdomain: false) %></li> -->
              <li><%= link_to t('pages.get_involved.menu_title'), get_involved_url(subdomain: false) %></li>
              <li><%= link_to t('pages.blog.menu_title'), blog_index_url(subdomain: 'blog') %></li>
              <li><%= link_to t('.wiki'), 'https://wiki.diasporafoundation.org' %></li>
              <li><%= link_to t('pages.tutorials.menu_title'), tutorials_url(subdomain: false) %></li>
              <!-- <li><%= link_to t('.planet'), 'http://planet.diasporafoundation.org' %></li> -->
            </ul>
            <%= link_to t('buttons.host_pod'), about_url(subdomain: false, anchor: "host"), class: 'nsf-btn' %>
            <%= link_to t('buttons.join_diaspora'), root_url(subdomain: false, anchor: "get_started"), class: 'nsf-primary nsf-btn' %>

            <div id="locale-switcher" class="span4">
              <div class="btn-group">
                <a class="nsf-btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-globe"></i> <%= AVAILABLE_LOCALES[current_locale] %>
                </a>

                <ul class="dropdown-menu">
                  <%= locale_switcher_entries %>
                  <li>
                    <a href="https://wiki.diasporafoundation.org/Contribute_translations">
                      <%= t '.translate' %>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div id="main-container" class="container-fluid <%= yield :wrapper_class %>">
      <%= yield %>

      <div id="pusher"></div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="span4" id="footer-logos">
          <div class="footer-logo"><%= image_tag 'diaspora-logo-footer.png', alt: t('.diaspora_footer_alt') %></div>
          <div class="footer-logo"><%= image_tag 'agplv3-footer.png', alt: t('.agplv3_footer_alt') %></div>
          <div class="footer-logo"><%= image_tag 'osi-footer.png', alt: t('.osi_footer_alt') %></div>
        </div>

        <div class="span12">
          <div class="row">

            <div class="span4 links">
              <h5><%= t '.contribute' %></h5>
              <ul>
                <li>
                  <a href="http://github.com/diaspora/diaspora/">
                    <%= t '.codebase' %>
                  </a>
                </li>
                <li>
                  <a href="https://wiki.diasporafoundation.org/">
                    <%= t '.documentation' %>
                  </a>
                </li>
                <li>
                  <a href="http://github.com/diaspora/diaspora/issues">
                    <%= t '.report_bugs' %>
                  </a>
                </li>
              </ul>
            </div>

            <div class="span4 links">
              <h5><%= t '.community_chat' %></h5>
              <ul>
                <li>
                  <a href="http://webchat.freenode.net/?channels=diaspora">
                    <%= t '.irc_general' %>
                  </a>
                </li>
                <li>
                  <a href="http://webchat.freenode.net/?channels=diaspora-dev">
                    <%= t '.irc_development' %>
                  </a>
                </li>
              </ul>
            </div>

            <div class="span4 links">
              <h5><%= t '.mailing_lists' %></h5>
              <ul>
                <li>
                  <a href="http://groups.google.com/group/diaspora-discuss">
                    <%= t '.discussion_general' %>
                  </a>
                </li>
                <li>
                  <a href="http://groups.google.com/group/diaspora-dev">
                    <%= t '.discussion_development' %>
                  </a>
                </li>
              </ul>
            </div>

          </div>

          <div class="clearfix"></div>

          <div id="CC-licence">
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
              <%= image_tag 'cc-footer.png', alt: t('.cc_license_alt') %>
            </a>
            <%= t('.licensed_under', site_link: '
            <a href="https://diasporafoundation.org/" property="cc:attributionName"
               rel="cc:attributionURL">
              diasporafoundation.org
            </a>', license_link: %Q{
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
              #{t('.license_link_text')}
            </a>.}).html_safe %>
          </div>


        </div>

      </div>


    </div>

  </footer>
</body>
</html>
